@import '../../styles/shared.scss';

.button {
  border: to-rem(1) solid transparent;
  border-radius: to-rem(3);
  cursor: pointer;
  font-size: to-rem(14);
  font-weight: 400;
}

@include sm {
  .button {
    font-size: to-rem(16);
    padding: to-rem(10);
  }
}

@include md {
  .button {
    font-size: to-rem(16);
  }
}
