@import '../../styles/shared.scss';

.layout_wrapper {
  margin: to-rem(16);
  min-height: 90vh;
  // Fallback for browsers that don't support vh e.g Opera Mini
  @supports not (min-height: 1vh) {
    min-height: 90%;
  }
}

@include md {
  .layout_wrapper {
    margin: to-rem(32) auto;
    width: 90%;
  }
}

@include lg {
  .layout_wrapper {
    width: 80%;
  }
}

@include xl {
  .layout_wrapper {
    width: 50%;
  }
}
